<div class="card-top container-fluid">
    <div class="class container d-flex">
        <div class="Item">
            <a (click)="filter('')">
                <img style="width:62px; " src="../../../assets/image/images (1).png" alt="products">
                <h6>All products</h6>
            </a>
        </div>
        <div class="Item">
            <a (click)="filter('')">
                <img style="width:62px; margin-top:5px;" src="../../../assets/image/image3.jpeg" alt="Groceries">
                <h6>Groceries</h6>
            </a>
        </div>
        <div class="Item">
            <a (click)="filter('fashion')">
                <img style="width:62px; height:45px" src="../../../assets/image/image2.jpeg" alt="Fashion">
                <h6>Fashion</h6>
            </a>

        </div>
        <div class="Item">
            <a (click)="filter('jewelery')">
                <img style="width:62px; margin-top:5px;" src="../../../assets/image/image4.jpeg" alt="Jewellery">
                <h6>Jewlery</h6>
            </a>

        </div>
        <div class="Item">
            <a (click)="filter('electronics')">
                <img style="width:62px; " src="../../../assets/image/image5.jpeg" alt="Electronics">
                <h6>Electronics</h6>
            </a>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- <ng-container *ngFor ="let item of productList"> -->
        <ng-container *ngFor ="let item of filterCategory | filter:searchKey:'title' ">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;" >{{item.description}}</p>
                <p><strong>${{item.price}}</strong></p>
                <button class="btn btn-primary"(click)=addtocart(item)>Add to cart</button>

            </div>
        </ng-container>
       

    </div>
</div>